#naziv{
    text-align: center;
    font-size: 37px;
}

#viewport{
    padding-left: 180px;
}

#loc{
    text-align: center;
}

#mapa_id{
    height: 230px;
}

#loci{
    text-align: left;
    padding-left: 250px;
}
#locid{
    text-align: right;
    padding-left: 100px;
}

#kreiraj{
    margin-left: 150px;
    margin-bottom: 20px;
}

#kreir {
    float:right;
}

@media (max-width: 667px) {
#naziv{
    width: 100%;
    margin-left: 0px;
    float: left;
    align-items: center;
    display: flex;
    max-width:100%;
  }
#viewport {
    flex: 0 0 100%;
    max-width: 90%;
    padding: 5px;
}
#kreiraj{
    margin-left: 0px;
    float: left;
    align-items: center;
    display: flex;
}

 .col-md-4{
    align-items: center;
    display: flex;
    max-width:100%;
  }
  
}