@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

li{
  width: 100%;
}

.nav-item{
  width:15%;
}

#setings{
  margin-left: 150px;
  padding: 30px;
}
.tab-pane{
  padding: 30px;
}
.belo{
  color:white;
  text-align:center;
  position: absolute;
  bottom: 10px;
  left: 5%;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #C33764, #1D2671);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right,  #C33764, #1D2671);
}
#boja{
  color: white;
}
.demo-container {
  height: 70rem !important;
}
#tabela{
  margin-top: 60px;
  width: 100%;
}
td, th{
  font-size: 15px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.des {
  float: right;
}

.lev {
  float: left;
}

canvas{
  margin-top: 20px !important;
  border: 1px solid #455A64;

}
#barChart {
  height: 500px !important;
  width: 60rem;
}
#pieChart{
  height: 500px !important;
  width: 60rem;
}

#desno{
  float: right;
  margin-right: 40px;
}

#levo {
  margin-left: 40px;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

   /* fallback for old browsers */
   background: #fccb90;

   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, #C33764, #1D2671);
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right,  #C33764, #1D2671);
}


#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}


#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}
.navbar{
  display: none;
}

@media (max-width: 768px) {
  .navbar{
    display: inline-flex;
    list-style: none;
    width: 100%;
   
}
.nav-item{
  width: 40%;
}
#na{
  color: white;
}
#setings {
  margin: 0;
}

li{
  width: auto;
  float: left;
}
  #sidebar {
    display: none;
  }
  #viewport {
    flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  }
  #scheduler{
    height: 100px;
  }
}
